//
// Blog
// --------------------------------------------------
 
.blog 
  
  // Headings
  // --------------------------------------------------
    
  h1  
    @extends $h1
    
  h2  
    @extends $h2
    
  h3  
    @extends $h3
    
  h4  
    @extends $h4
    
  h5  
    @extends $h5
    
  h6  
    @extends $h6 
    
