//
// Blog
// --------------------------------------------------
 
.blog 
  
  // Headings
  // --------------------------------------------------
    
  h1  
    @extends $h1
    margin-bottom @space-md
    
  h2  
    @extends $h2
    margin-bottom @space
    
  h3  
    @extends $h3
    margin-bottom @space
    
  h4  
    @extends $h4
    margin-bottom @space-sm
    
  h5  
    @extends $h5
    margin-bottom @space-sm
    
  h6  
    @extends $h6 
    margin-bottom @space-xs
    

// Blog List
// --------------------------------------------------
  
.blog-list
  @extends $list-unstyled