//
// Projects
// --------------------------------------------------
 
.projects-box   
  @media (min-width $screen-sm) 
    float left
    padding-left  $space-sm
    padding-right $space-sm
    width 50%
    
  @media (min-width $screen-lg) 
    width 33.33%
    
  
  
