<div class="cols">
    <aside class="col col-1-2">
        <h1 class="title--404">404</h1>
    </aside>
    <div class="col col-1-2">
        <p>Some things aren’t meant to last forever. <a href="/contact">Get in touch</a> for personal assistance.</p>
    </div>
</div>
