<% function excerpt(content) {
  if(!content || content.indexOf("</p>") == -1) return;
  else return content.split("<p>")[1].split("</p>")[0];
} %>

<div class="container">

  <section class="home" itemscope itemtype="http://schema.org/Person">

    <p class="lead">Olá amigos, tudo bem?</p>

    <p>Sou <em itemprop="name">Luiz Felipe Tartarotti Fialho</em>, tenho <strike>23 anos</strike> 24 anos e trabalho como <strong itemprop="jobTitle">Desenvolvedor Front-End</strong> desde 2009.</p>

    <p>Atualmente trabalho na <a href="http://filtro.cc/" itemprop="affiliation">Filtro</a>. Sou um dos organizadores do <a href="http://www.meetup.com/CSS-SP/">Meetup CSS SP</a> e da <a href="http://cssconfbrasil.com.br/">Conferência CSS Brasil</a>.</p>

    <p>Entre os projetos que mais gostei de desenvolver estão o <a href="http://www.felipefialho.com/css-components/">CSS Components</a> e o <a href="http://www.felipefialho.com/piano/">Piano Keyboard.</a></p>

    <p>Criei esse espaço, primeiro para brincar de designer, segundo para testar geradores estáticos e por último, e não menos importante... ter um lugar bacana para expressar minha opinião, dar dicas, etc.</p>

    <p>Aliás, o site foi desenvolvido com <a href="http://harpjs.com/">Harp</a>, deixei o código aberto no <a href="https://github.com/LFeh/Website">Github</a>.</p>

    <p class="lead"><span aria-hidden="true" class="icon-happy"></span></p>

  </section>

  <div class="blog home-blog">

    <h2 class="page-header">Rolando no blog...</h2>

    <ul class="blog-list"> 
      <% for(var slug in public.blog._data){ %>
        <% var post = public.blog._data[slug] %>
        <% if(post.title && post.published!==false) { %>
          <li class="blog-item" itemscope itemtype="http://schema.org/BlogPosting">
            <a class="blog-link" href="blog/<%= slug %>" itemprop="url">
              <time class="date" itemprop="datePublished"><%= post.date %></time>
              <h3 class="tit" itemprop="headline">
                <%= post.title %>
              </h3> 
              <p class="description" itemprop="articleBody"><%= post.description %></p>
            </a> 
          </li>
        <% } %>
      <% } %>
    </ul>
 
  </div> 
</div>
