<aside class="navbar">
  <header class="header" itemscope itemtype="http://schema.org/Person">
    <a class="photo" href="/"> 
      <img src="<%= base %>img/etc/luiz-felipe-tartarotti-fialho.png" alt="<%= name %> avatar" height="151" width="100">
    </a>
    <h1 class="logo">
      <a href="/" itemprop="additionalName"><%= name %></a>
    </h1>
    <h4 itemprop="jobTitle"><%= description %></h4>
  </header> 

  <div class="navbar-wrap"> 
    <% include nav %>
  </div>
</aside>
