<footer class="footer">
    <a href="#top">
        <img class="footer-logo" src="/img/stamp.svg" alt="<%= name %> stamp">
    </a>
    <p><small>A boilerplate for <a href="http://harpjs.com">Harp</a>.<br/>Launch it instantly <a href="https://www.harp.io/apps/new?boilerplate=kennethormandy/hb-simurai">on the Harp Platform</a>.</small></p>
</footer>
