//
// Scaffolding
// --------------------------------------------------

*  
  box-sizing: border-box  
  
  &:before,
  &:after 
    box-sizing: border-box 
 


html 
  font-size: 62.5%
 

body 
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  setfont($fontSize)
  color: #333
 
// Font Face
// --------------------------------------------------

 webfont('ostrich_sansblack', 'ostrich-black-webfont', true, 'normal')