//
// Translate
// -------------------------------------------------- 

.translate 
  display inline-block
  font-family "Helvetica Neue", Helvetica, Arial,sans-serif 
  setfont($fontSize * 0.7)
  
  @media (min-width: $screen-sm)
    margin-top $space