//
// Types
//
// 1. Links
//
// -------------------------------------------------- 

//
// 1. Links
// --------------------------------------------------

a 
  color: $gold
  text-decoration: none
  
  p &  
    text-decoration: underline