//
// Navbar
// --------------------------------------------------
 
.navbar 
  background: $gray-darker
  font-family: 'ostrich_sansblack'
  padding: $space
  
  @media (min-width: $screen-sm)
    position: fixed
    top    : 0
    left   : 0 
    bottom : 0
    text-align: center
    max-width: 300px;
    width: 20%
  
  ul 
    list-unstyled()
    
  a 
    color: #fff
    
  .logo 
    @extends $h2 