//
// Navbar
// --------------------------------------------------
 
.navbar 
  background: $gray-darker
  font-family: 'ostrich_sansblack'
  padding: $space
  
  @media (min-width: $screen-sm)
    position: fixed
    top    : 0
    left   : 0 
    bottom : 0
    text-align: center
    max-width: 300px;
    width: 20%
  
  // Resets
  // --------------------------------------------------
    
  ul 
    @extends $list-unstyled
    
  a 
    color: #fff
    
  // Photo
  // --------------------------------------------------
  
  .photo
    @extends $visible-sm   

    @media (min-width: $screen-sm)
      margin-bottom: $space-sm
      opacity: 0.4
      transition: opacity .3s 
    
  &:hover .photo 
    opacity: 1
    
// Logo
// --------------------------------------------------
  
.logo 
  @extends $h2 
  
h4 
  color: $gray