<% function excerpt(content) {
  if(!content || content.indexOf("</p>") == -1) return;
  else return content.split("<p>")[1].split("</p>")[0];
} %>

<h1 class="page-header">Blog</h1>

<div class="blog">

  <ul class="blog-list"> 
    <% for(var slug in public.blog._data){ %>
      <% var post = public.blog._data[slug] %>
      <% if(post.title && post.published!==false) { %>
        <li class="blog-item" itemscope itemtype="http://schema.org/BlogPosting">
          <a class="blog-link" href="blog/<%= slug %>" itemprop="url">
            <time class="date" itemprop="datePublished"><%= post.date %></time>
            <h3 class="tit" itemprop="headline">
              <%= post.title %>
            </h3> 
            <p class="description" itemprop="articleBody"><%= post.description %></p>
          </a> 
        </li>
      <% } %>
    <% } %>
  </ul>
  
</div>