//
// Translate
// -------------------------------------------------- 

.translate 
  display inline-block
  font-family 'Open Sans', sans-serif
  @extends $p2
  
  &:hover 
    text-decoration underline
  
  @media (min-width: $screen-sm)
    margin-top $space